header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  .name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .link-container {
    display: flex;
    letter-spacing: 1px;
    .link-item {
      text-decoration: none;
      color: white;
      margin: 0 15px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
